body{ 
	background: url("../images/fondo-web.jpg")
}

.container-fluid {
	text-align: center;
}

form {
	display: inline-block;
    text-align: center;
}

#menu-buttons {
	margin: 7%;
}

td, th {
	text-align: center;
}

#tablaMateria {
	margin-top: 50px;
}

select {
	border-radius: 5%;
    border-color: #dbdbdb;
    height: 36px;
}

.btn-back {
	margin-top: 15px;
}